/* Our Team */
.team {
    padding: 90px 0px 100px;
    background-color: #000;
}
.team__title {
    margin-bottom: 135px;
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    position: relative;
}
.team__title::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #fcac45;

    position: absolute;
    bottom: -15px;
    left: 46%;
}
.team-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__item {
    width: 20.83%;
    text-align: center;
}
.item__img {
    display: block;
    margin: 0 auto 15px;
    width: 127px;
    height: 127px;
    border-radius: 50%;
}
.item__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
.item__prof {
    font-weight: 300;
    margin-bottom: 25px;
}
.item__txt {
    font-size: 14px;
}


/* Media Queries */
@media (min-width: 1366px) {
    .team__title::after {
        bottom: -20px;
    }
}



@media (min-width: 1440px) {
    .team__title::after {
        left: 46.5%;
    }
}



@media (min-width: 1530px) {
    .team {
        padding-top: 100px;
    }
    .team__title {
        margin-bottom: 145px;
        font-size: 46px;
    }
    .team__title::after {
        left: 47%;
    }
    .item__img {
        width: 137px;
        height: 137px;
        margin-bottom: 25px;
    }
    .item__name {
        font-size: 20px;
        line-height: 26px;
    }
    .item__txt {
        font-size: 16px;
    }
}


@media (min-width: 1680px) {
    .team {
        padding: 125px 0;
    }
    .team__title {
        margin-bottom: 155px;
        font-size: 50px;
    }
    .team__title::after {
        bottom: -25px;
        left: 47%;
    }
    .item__img {
        width: 137px;
        height: 137px;
        margin-bottom: 25px;
    }
    .item__name {
        font-size: 21px;
    }
    .item__txt {
        font-size: 17px;
    }
}



@media (min-width: 1920px) {
    .team {
        padding: 150px 0;
    }
    .team__title {
        font-size: 52px;
    }
    .team__title::after {
        left: 47%;
    }
    .item__img {
        width: 147px;
        height: 147px;
        margin-bottom: 35px;
    }
    .item__name {
        font-size: 22px;
    }
    .item__prof {
        font-size: 18px;
    }
    .item__txt {
        font-size: 18px;
    }
}



@media (min-width: 2048px) {
    .team {
        padding: 175px 0;
    }
    .team__title {
        margin-bottom: 165px;
        font-size: 56px;
    }
    .team__title::after {
        bottom: -3
        left: 47%;
    }
    .item__img {
        width: 155px;
        height: 155px;
        margin-bottom: 40px;
    }
    .item__name {
        font-size: 24px;
    }
    .item__prof {
        font-size: 19px;
    }
    .item__txt {
        font-size: 20px;
    }
}



@media (max-width: 1024px) {
    .team {
        padding-bottom: 90px;
    }
    .team__title::after {
        left: 45%;
    }
}



@media (max-width: 850px) {
    .team {
        padding: 80px 0;
    }
    .team__title {
        font-size: 42px;
    }
    .team__title::after {
        left: 44%;
    }
    .team__item {
        width: 22%;
    }
    .item__name {
        font-size: 17px;
    }
    .item__prof {
        font-size: 15px;
    }
}



@media (max-width: 768px) {
    .team {
        padding-bottom: 30px;
    }
    .team__title {
        font-size: 40px;
    }
    .team__title::after {
        left: 43%;
    }
    .team-wrapper {
        flex-wrap: wrap;
    }
    .team__item {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .item__img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    .item__prof {
        font-size: 14px;
    }
}



@media (max-width: 675px) {
    .team__title {
        margin-bottom: 120px;
        font-size: 38px;
    }
    .team__item {
        width: 49%;
    }
    .team__title::after {
        left: 42.25%;
    }
}



@media (max-width: 568px) {
    .team__title {
        font-size: 36px;
        margin-bottom: 110px;
    }
    .team__title::after {
        left: 38%;
    }
    .team__item {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }
    .item__img {
        width: 110px;
        height: 110px;
    }
    .item__prof {
        margin-bottom: 15px;
    }
    .item__txt {
        padding: 0 105px;
    }
}



@media (max-width: 475px) {
    .team {
        padding-bottom: 60px;
    }
    .team__title {
        font-size: 34px;
    }
    .team__title::after {
        left: 39%;
    }
    .team__item:last-child {
        margin-bottom: 0;
    }
    .item__txt {
        padding: 0 60px;
    }
}



@media (max-width: 414px) {
    .team {
        padding: 50px 0;
    }
    .team__title {
        font-size: 30px;
        margin-bottom: 100px;
    }
    .team__title::after {
        left: 36.25%;
        height: 3px;
        bottom: -7px;
    }
    .team__item {
        margin-bottom: 40px;
    }
    .item__img {
        width: 110px;
        height: 110px;
    }
    .item__prof {
        margin-bottom: 10px;
    }
    .item__txt {
        padding: 0 30px;
    }
}



@media (max-width: 360px) {
    .team {
        padding: 45px 0;
    }
    .team__title {
        font-size: 28px;
        margin-bottom: 80px;
    }
    .team__title::after {
        left: 33.5%;
    }
    .item__img {
        width: 100px;
        height: 100px;
    }
    .item__txt {
        padding: 0 20px;
    }
}



@media (max-width: 320px) {
    .team {
        padding: 40px 0;
    }
    .team__title {
        font-size: 26px;
        margin-bottom: 70px;
    }
    .team__title::after {
        left: 32%;
    }
    .item__img {
        width: 100px;
        height: 100px;
    }
    .item__txt {
        padding: 0;
    }
}
