/* Works */
.works {
    padding: 90px 0px 80px;
}
.works__title {
    margin-bottom: 80px;
    font-size: 44px;
    font-weight: 300;
    color: #222;
    text-transform: uppercase;
    text-align: center;

    position: relative;
}
.works__title::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #fcac45;

    position: absolute;
    bottom: -15px;
    left: 46%;
}
.works__txt {
    margin-bottom: 170px;
    font-style: italic;
    color: #6c6c6c;
    text-align: center;
}
.works-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.works__item {
    width: 263px;
    height: 237px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
    position: relative;

    transition: all .5s linear;
}
.works__item:hover .item__front {
    transform: perspective(500px) rotateY(-180deg);
}
.works__item:hover .item__back {
    transform: perspective(500px) rotateY(0deg);
}
.item__front,
.item__back {
    backface-visibility: hidden;
    position: absolute;

    transition: transform .5s linear;
}
.item__front {
    transform: perspective(300px) rotateY(0deg);
}
.item__back {
    width: 100%;
    height: 100%;
    transform: perspective(300px) rotateY(180deg);
    background-color: #cbb8b8;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}
.works__item--title {
    margin: 75px 0 15px;
    font-size: 22px;
    text-transform: uppercase;
    color: #222;
}
.works__item--txt {
    color: #000;
}
.works__item--link {
    margin-top: 20px;
    padding: 7.5px 15px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 5px;

    transition: all .3s linear;
}
.works__item--link:hover {
    background-color: #d8d8d8;
}
.works__item--link:active {
    background-color: #ebebeb;
}
.works__item.row3 {
    margin-bottom: 0;
}
.works__more--link {
    display: none;
    text-align: center;
    color: #6c6c6c;
    text-decoration: none;

    transition: all .4s linear;
}
.works__more--link:hover {
    text-decoration: underline;
}
.works__more--link:active {
    color: #9a9595;
}



/* Media Queries */
@media (min-width: 1366px) {
    .works__title::after {
        bottom: -20px;
    }
}



@media (min-width: 1440px) {
    .works__title::after {
        left: 46.5%;
    }
}
@media (min-width: 1530px) {
    .works {
        padding-top: 110px;
    }
    .works__title {
        font-size: 46px;
    }
    .works__txt {
        font-size: 17px;
    }
    .works__item {
        width: 300px;
        height: 274px;
        margin-bottom: 35px;
    }
    .works__item img {
        width: 300px;
    }
    .works__item--title {
        margin-bottom: 45px;
    }
    .works__item--txt {
        display: block;
    }
    .works__item--link {
        padding: 10px 15px;
    }
}
@media (min-width: 1680px) {
    .works {
        padding-top: 125px;
    }
    .works__title {
        font-size: 48px;
    }
    .works__title::after {
        bottom: -25px;
    }
    .works__txt {
        font-size: 18px;
    }
    .works__item {
        width: 360px;
        height: 320px;
        margin-bottom: 45px;
    }
    .works__item img {
        width: 360px;
    }
    .works__item--title {
        font-size: 24px;
        margin-bottom: 55px;
    }
    .works__item--txt {
        font-size: 18px;
    }
    .works__item--link {
        padding: 12.5px 25px;
    }
}
@media (min-width: 1920px) {
    .works {
        padding-top: 150px;
    }
    .works__title {
        font-size: 52px;
    }
    .works__txt {
        font-size: 20px;
    }
    .works__item {
        width: 390px;
        height: 370px;
        margin-bottom: 55px;
    }
    .works__item img {
        width: 390px;
    }
    .works__item--title {
        font-size: 26px;
        margin-bottom: 70px;
    }
    .works__item--txt {
        font-size: 20px;
    }
    .works__item--link {
        padding: 15px 30px;
        font-size: 18px;
    }
}



@media (min-width: 2048px) {
    .works__title::after {
        bottom: -30px;
    }
    .works__item {
        width: 435px;
        height: 415px;
        margin-bottom: 55px;
    }
    .works__item img {
        width: 435px;
    }
}



@media (min-width: 2300px) {
    .works__item {
        width: 475px;
        height: 445px;
        margin-bottom: 55px;
    }
    .works__item img {
        width: 475px;
    }
}



@media (max-width: 1200px) {
    .works__title {
        font-size: 42px;
    }
    .works__title::after {
        left: 45%;
    }
    .works__txt {
        margin-bottom: 135px;
    }
    .works__item {
        width: 230px;
        height: 204px;
    }
    .item__back {
        padding: 35px 15px 15px;
    }
    .works__item--title {
        margin: 0 0 15px;
        font-size: 20px;
    }
    .works__item--txt {
        display: block;
    }
    .works__item--link {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    .works .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .works__title {
        font-size: 38px;
    }
    .works__title::after {
        left: 45.5%;
    }
    .works__txt {
        margin-bottom: 100px;
        padding: 0 40px;
    }
    .works__item {
        width: 200px;
        height: 174px;
    }
    .works__item img {
        width: 200px;
        height: 174px;
    }
    .item__back {
        padding: 25px 10px 15px;
    }
    .works__item--title {
        margin: 0 0 10px;
        font-size: 18px;
    }
    .works__item--txt {
        font-size: 15px;
    }
    .works__item--link {
        font-size: 14px;
    }
}
@media (max-width: 850px) {
    .works {
        padding-bottom: 60px;
    }
    .works__title {
        font-size: 34px;
    }
    .works__item {
        width: 180px;
        height: 160px;
    }
    .works__item img {
        width: 180px;
    }
    .works__item.row3 {
        display: none;
    }
    .works__more--link {
        display: block;
    }
}
@media (max-width: 800px) {
    .works-inner {
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .works__item {
        width: 263px;
        height: 237px;
        margin-bottom: 50px;
    }
    .works__item img {
        width: 100%;
        height: 100%;
    }
    .item__back {
        padding: 50px 0 0;
    }
    .works__item--title {
        margin-bottom: 15px;
    }
    .works__item--link {
        margin-top: 50px;
    }
}
@media (max-width: 768px) {
    .works__title {
        font-size: 32px;
    }
    .works__title::after {
        left: 44%;
    }
}
@media (max-width: 640px) {
    .works {
        padding-top: 60px;
    }
    .works__txt {
        margin-bottom: 75px;
        padding: 0 20px;
    }
    .works__item {
        width: 240px;
        height: 220px;
        margin-bottom: 30px;
    }
}
@media (max-width: 568px) {
    .works__title {
        margin-bottom: 60px;
        font-size: 30px;
    }
    .works__title::after {
        left: 43.15%;
        bottom: -15px;
    }
    .works__txt {
        margin-bottom: 55px;
    }
    .works__item {
        width: 220px;
        height: 200px;
    }
    .works__item.row2 {
        display: none;
    }
}
@media (max-width: 475px) {
    .works__title {
        margin-bottom: 50px;
        font-size: 26px;
    }
    .works__title::after {
        left: 39%;
    }
    .works__txt {
        padding: 0;
    }
}
@media (max-width: 414px) {
    .works {
        padding: 50px 0 30px;
    }
    .works__title {
        margin-bottom: 40px;
        font-size: 22px;
    }
    .works__title::after {
        left: 39%;
        height: 3px;
        bottom: -5px;
    }
    .works__txt {
        margin-bottom: 40px;
    }
    .works-inner {
        margin-bottom: 10px;
    }
    .works__item.row1:nth-child(3),
    .works__item.row1:nth-child(4) {
        display: none;
    }
}



@media (max-width: 360px) {
    .works__title::after {
        left: 34%;
    }
}



@media (max-width: 320px) {
    .works__title {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .works__title::after {
        left: 33%;
    }
    .works__txt {
        font-size: 14px;
        line-height: 18px;
    }
    .works__item.row1:nth-child(2) {
        display: none
    }
}
